html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 16px;
}

h1 {
	text-align: center;
}

a {
	text-decoration: none;
	color: #444;
}

audio {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 16px 8px 0 0;
}
